.pool-generator-tool-container {
  margin: 2rem;

  h6 {
    margin: 1rem 0 0.5rem 0;
  }

  h5 {
    margin: 1rem 0 0.5rem 0;
  }

  .pool-generator-tool-calculate-button {
    margin: 1rem 0;
  }

  .pool-generator-tool-result-container {
    .rs-input-group {
      margin-bottom: 0.75rem;
    }

    .pool-generator-tool-divider {
      margin: 2.5rem 0 0.75rem 0;
    }
  }
}
